# Methods of String Class

*  Return a copy of the string with all the cased characters converted to lowercas"

In [ ]:
text="Hello World"
print(text.lower())  # hello world

hello world

* Return a copy of the string with all the cased characters converted to uppercase.

In [ ]:
text="Hello World"
print(text.upper())  # HELLO WORLD

HELLO WORLD

* Return a title cased version of the string where words start with an uppercase character and the remaining characters are lowercase.

In [ ]:
text="hello world"
print(text.title())  # Hello World

Hello World

* The capitalize() Return a copy of the string with its first character capitalized and the rest lowercased.

In [ ]:
text="hello world"
print(text.capitalize())  # Hello world

Hello world

* The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [ ]:
text="Hello World"
print(text.swapcase())  # hELLO wORLD

hELLO wORLD

*  Casefolding is similar to lowercasing but more aggressive because it is intended to remove all case distinctions in a string. For example, the German lowercase letter 'ß' is equivalent to "ss". Since it is already lowercase, lower() would do nothing to 'ß'; casefold() converts it to "ss"

In [ ]:
text="Stra$e"
print(text.casefold())  # stra$e

stra$e

* Return a copy of the string with the leading and trailing characters removed.

In [ ]:
text="Hello World"
print(text.strip())  # Hello World

Hello World

*  Write a Python program to create a dictionary of 5 students with their marks. Print only the names of students who scored more than 80.

In [ ]:
students={
    "Aryan":85,
    "Bhavya":80,
    "Dixit":79,
    "Arnav":70
}
for name,marks in students.items():
    print(f"{name.lower()}: {marks}")
    # aryan: 85
    # bhavya: 80
    # dixit: 79
    # arnav: 70

aryan: 85
bhavya: 80
dixit: 79
arnav: 70

*  Write code to add a new key "grade": "A" and then print the updated dictionary.

In [ ]:
text="Hello World"
print(text.strip())

Hello World

*  Write a program to count the frequency of each word in the string:

In [ ]:
students ={"Aryan":85,"Bhavya":80,"Dixit":79,"Arnav":70}
students["grades"]="A"
print(students)

{'Aryan': 85, 'Bhavya': 80, 'Dixit': 79, 'Arnav': 70, 'grades': 'A'}

*  Write a program to merge two dictionaries:

In [ ]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}

merged={**dict1,**dict2}
print(merged)  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

*  Write a program to count the frequency of each word in the string:

In [ ]:
text="Hello world hello python world"
words=text.split()
freq={}
for word in words:
    freq[word]=freq.get(word,0)+1
    print(freq)

{'Hello': 1}
{'Hello': 1, 'world': 1}
{'Hello': 1, 'world': 1, 'hello': 1}
{'Hello': 1, 'world': 1, 'hello': 1, 'python': 1}
{'Hello': 1, 'world': 2, 'hello': 1, 'python': 1}

* Write a program to check if a given key exists in a dictionary.

In [ ]:
students={"Aryan":85,"Bhavya":80,"Dixit":79,"Arnav":70}
key="Aryan"

if key in students:
    print("key exists")
else:
    print("key does not exist")

key exists

*  Write a program that takes a string input from the user and checks if it contains only alphabets using isalpha().
- If true, print "Valid alphabets".
- Otherwise, print "Contains non-alphabet characters".

In [ ]:
text="Aryan"
if text.isalpha():
    print("Valid alphabets")
else:
    print("Constains non-alphabet characters")

Valid alphabets

* Ask the user for a string and check if it is a valid identifier using isidentifier().
- Print "Valid identifier" or "Invalid identifier".

In [ ]:
text="Hello World"
if text.isidentifier():
    print("Valid identifier")
else:
    print("Invalid identifier")

Invalid identifier

*  Write a program that reads a list of strings and prints only those strings that are in title case (istitle()).

In [ ]:
strings=["Hello Worlsd","python programming","Aryan","Hello",]
print("string is title case are:")
for s in strings:
    if s.istitle():
        print(s)

string is title case are:
Hello Worlsd
Aryan
Hello

* Write a program that reads a paragraph and counts:
- How many words are all uppercase (isupper()).
- How many words are all lowercase (islower()).
- How many words are in title case (istitle()).

In [ ]:
paragraph="Python 3 is the latest, actively supported major version of the general-purpose, high-level, interpreted programming language known for its emphasis on code readability and support for various programming paradigms. It was released to modernize the language and fix inconsistencies in the legacy Python 2.x versions, which are no longer supported. "
words=paragraph.split()

uppercase_count=0
lowercase_count=0
titlecase_count=0

for word in words:
    if word.isupper():
        uppercase_count+=1
    elif word.islower():
        lowercase_count+=1
    elif word.istitle():
        titlecase_count+=1
print("All Uppercase words:")
uppercase_count
print("All Lowercase words:")
lowercase_count
print("All Titlecase words:")
titlecase_count

All Uppercase words:
All Lowercase words:
All Titlecase words:

3

* write a program for Armstrong number

In [ ]:
num=153
sum_of_powers=0
temp=num
digits=len(str(num))

while temp>0:
    digit=temp%10
    sum_of_powers+=digit**digits
    temp//=10
if num==sum_of_powers:
    print("Entered Number is An Armstrong Number")
else:
    print("Entered Number is Not An Armstrong Number")

Entered Number is An Armstrong Number

* write a program for Palindrome number

In [ ]:
num=121
temp=num
rev=0

while temp>0:
    digit=temp%10
    rev=rev*10+digit
    temp//=10
if num==rev:
    print("Entered Number is a Palindrome")
else:
    print("Entered Number is Not a Palindrome")

Entered Number is a Palindrome

* Write a Python program that prints a given integer and then repeatedly removes its last digit until no digits remain.

In [ ]:
a=4576
r=a

while r>0:
    print(r)
    r=a//10
    a=r

4576
457
45
4

6.Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras theorem.

In [ ]:
a=float(input("Enter Base value:"))
b=float(input("Enter Perpendicular value:"))
c=(a**2+b**2)**0.5
print("Hypotenus of the Triangle is ",c)

Hypotenus of the Triangle is  18.027756377319946

7.Write a program to find simple interests.

In [ ]:
p=float(input("Enter Principalvalue"))
r=float(input("Enter Rate of Interest"))
t=float(input("Enter Time in year"))
si=(p*r*t)/100
print("Simple Interests of the Ammount is",si)

Simple Interests of the Ammount is 2000.0

8.Write a program to find area of triangle when length of sides are given.

In [ ]:
s1=float(input("Enter The Side1 of The Triangle"))
s2=float(input("Enter The side2 of The Triangle"))
s3=float(input("Enter The side3 of The Triangle"))
s=(s1+s2+s3)/2
area=(s*(s-s1)*(s-s2)*(s-s3))**0.5
print("Area of Triangle is",area)

Area of Triangle is 59.81168364124187

* Write a program to convert given seconds into hours, minutes and remaining seconds.

In [ ]:
second=float(input("Enter a Toatl Number of Seconds"))
hours= second//3600
min =(second % 3600)//60
remaining_seconds= second%60
print("hours",hours)
print("Minutes ",min)
print("Remaning Seconds",remaining_seconds)

hours 1.0
Minutes  34.0
Remaning Seconds 42.0

* Write a program to swap two numbers without taking additional variable.

In [ ]:
a=int(input("Enter a First Number"))
b=int(input("Enter a Second Number"))
print("Numbers Before Swap are :")
print(a)
print(b)
a,b=b,a
print("Numbers After Swap are :")
print(a)
print(b)

Numbers Before Swap are :
5
7
Numbers After Swap are :
7
5

* Write a program to find sum of first n natural numbers.

In [ ]:
n=int(input("Enter The First n Natural Number"))
sum=n*(n+1)//2
print("Sum of First ",n,"Natural Numbers Are:",sum)

Sum of First  4 Natural Numbers Are: 10

* Write a program to print truth table for bitwise operators (&, |, and ^ operators)

In [ ]:
print(" A B  A&B  A|B  A^B ")
for A in [0,1]:
    for B in [0,1]:
        print(A,B, " " , A&B ," " ,A|B, " ", A ^ B)

 A B  A&B  A|B  A^B
0 0   0   0   0
0 1   0   1   1
1 0   0   1   1
1 1   1   1   0

* Write a program to find left shift and right shift values of a given number.

In [ ]:
num=int(input("Enter A Number :"))
shift=int(input("Enter Shift VAlue :"))

print("Left Shift",num << shift)
print("Right Shift",num >> shift)

Left Shift 192682891234690869027498887217152
Right Shift 0

* Using membership operator find whether a given number is in sequence (10,20,56,78,89)

In [ ]:
seq=[10,220,50,40,60]
num=int(input("Enter A Number To Be Searched :"))
if num in seq:
    print("Number is in the Sequence")
else :
    print("Number is not Found")

Number is not Found

* Print numbers from 1 to 10

In [ ]:
for i in range(1,11):
    print(i,"\n")

1

2

3

4

5

6

7

8

9

10

* Sum of first 5 natural numbers

In [ ]:
total=0
for i in  range(1,6):
    total+= i 
print("Sum of First 5 Natural Numbers are:",total)

Sum of First 5 Natural Numbers are: 15

 * Print each character of a string

In [ ]:
text="Aryan"
for char in text:
    print(char)

A
r
y
a
n

*  Write a program to check if a number is positive, negative, or zero.

In [ ]:
number=int(input("Enter a NUmber"))
if number>0:
    print("Positive Number")
elif number<0:
    print("Negative NUmber")
else:
    print("Zero")

Zero

*  Create a program that asks the user for their age and prints whether they are a child, teenager, or adult.

In [ ]:
age=int(input("Enter A Age"))
if age < 13:
    print("Child")
elif age<20:
    print("Teenager")
else :
    print("Adult")

Adult

*  Check if a given number is even or odd.

In [ ]:
num=int(input("Enter A Number :"))
if num %2==0:
    print("Even")
else:
    print("Odd")

Odd

*  Write a program to simulate a basic calculator that can handle

In [ ]:
def calculator(a,b,operator):
    if operator == '+':
        return a+b
    elif operator == '-':
        return a-b
    elif operator == '*':
        return a*b
    elif operator == '**':
        return a ** b
    elif operator == '/':
        if b == 0:
            print("Error Division by Zero")
        else :
            return a/b
    else :
        print("Invalid Operator")
num1=int(input("Enter First Number"))
num2=int(input("Enter Second Number"))
op=input("Enter operator (+,-,*,**,/)")
result=calculator(num1,num2,op)
print("Result is :",result)

Result is : 4

* Check whether a given number is divisible by 3 and 5 both.

In [ ]:
num=int(input("Enter a number:"))
if num%3==0 and num%5==0:
    print("Entered Number is Divisible by 3 and 5")
else :
    print("Enter Number is not divisible by 3 and 5")

Enter NUmber is not divisible by 3 and 5

* Check whether a given number is multiple of five or not.

In [ ]:
num=int(input("Enter a Number:"))
if num%5==0:
    print("Enter Number is Multiple of 5")
else:
    print("Enter Number is not the multiple of 5")

Enter Number is not the multiple of 5

* Find the greatest among two numbers. If numbers are equal than print “numbers are equal”.

In [ ]:
num1=int(input("Enter First  Number"))
num2=int(input("Enter Second Number:"))
if num1 >num2:
    print("Enter Number is Grater",num1)
else:
    print("Enter Number is Grater ",num2)

Enter Number is Grater 15

* Find the greatest among three numbers assuming no two values are same.

In [ ]:
num1=int(input("Enter First Number"))
num2=int(input("Enter Second Number"))
num3=int(input("Enter Third Number"))
if num1>num2  and num1>num3:
    print(num1,"is Grater Than ",num2,num3)
elif num2>num1 and num2>num3:
     print(num2,"is Grater Than ",num1,num3)
else :
     print(num3,"is Grater Than ",num1,num2)

15 is Grater Than  10 12

* Check whether the quadratic equation has real roots or imaginary roots. Display the roots.

In [ ]:
import cmath

a=float(input("Enter Cofficant of a "))
b=float(input("Enter Cofficant of b "))
c=float(input("Enter Cofficant of c "))

d= b**2 -4*a*c
root1=(-b +cmath.sqrt(d))/(2*a)
root2=(-b +cmath.sqrt(d))/(2*a)

print("Root1",root1)
print("Root2",root2)

Root1 (-0.1+0.5385164807134504j)
Root2 (-0.1+0.5385164807134504j)

* Find whether a given year is a leap year or not.

In [ ]:
num=int(input("Enter a Numer"))
if num%4==0:
    print("Enter Number is a leep year")
else:
    print("Enter Number is not a leep Year")

Enter Number is not a leep Year

* Print Fibonacci series up to given term.

In [ ]:
num=int(input("Enter a Number :"))

a,b=0,1
print("Febonacci Series")
for i in range(n):
     print(a,end=" ")
     a,b=b,a+b

Febonacci Series
0 1 1 2 3

* Find whether the given number is Armstrong number.

In [ ]:
num=int(input("Enter a Number"))
order=len(str(num))
sum=0
temp=num
for digit in str(num):
    sum += int(digit) ** order
if sum == num:
    print("Entered Number is an Armstrong Number")
else:
    print("Entered Number is not an Armstrong NUmber")

Entered Number is not an Armstrong NUmber

* Find a factorial of given number.

In [ ]:
num =int(input("Enter a Number"))
fact=1
for i in range(1,num+1):
    fact *=i
    print("Factorial of the number is",fact)

Factorial of the number is 1
Factorial of the number is 2
Factorial of the number is 6
Factorial of the number is 24
Factorial of the number is 120

* Check whether given number is palindrome or not.

In [ ]:
num = int(input("Enter a number: "))
temp = num
reverse = 0


while temp > 0:
    digit = temp % 10         
    reverse = reverse * 10 + digit 
    temp = temp // 10          

if num == reverse:
    print(num, "is a palindrome number.")
else:
    print(num, "is not a palindrome number.")

1517 is not a palindrome number.

* Write a program to print sum of digits.

In [ ]:

num = int(input("Enter a number: "))
sum_of_digits = 0

while num > 0:
    digit = num % 10       
    sum_of_digits += digit 
    num //= 10             

print("Sum of digits:", sum_of_digits)

Sum of digits: 15

* Count and print all numbers divisible by 5 or 7 between 1 to 100.

In [ ]:
count = 0

print("Numbers divisible by 5 or 7 between 1 and 100:")
for num in range(1, 101):
    if num % 5 == 0 or num % 7 == 0:
        print(num, end=" ")
        count += 1

print("\nTotal count:", count)

Numbers divisible by 5 or 7 between 1 and 100:
5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50 55 56 60 63 65 70 75 77 80 84 85 90 91 95 98 100
Total count: 32

* Convert all lower cases to upper case in a string.

In [ ]:
text =input("Enter a text:")
uppercase_count=text.upper()
print("Convert the text into upper case:",uppercase_count)

Convert the text into upper case: ARYAN

* Print the table for a given number:

5 * 1 = 5

5 * 2 = 10

In [ ]:
num =5
for i in range(1,11):
    print("{}*{}={}".format(num,i,num*i))

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

* Write a program to count and display the number of capital letters in a given string.

In [1]:
text = input("Enter a string: ")

count = 0

for char in text:
    if char.isupper():   
        count += 1

print("Total Number of capital in Upper case is:", count)

Total Number of capital in Upper case is: 4

* Count total number of vowels in a given string.

In [2]:
text=input("Enter a Text:")
vowels="aeiouAEIOU"
count=0
for char in text:
    if char in vowels:
        count +=1
print("Total Number of Vowels are:",count)

Total Number of Vowels are: 2

* Input a sentence and print words in separate lines.

In [4]:
sentence=input("Enter a Sentence:")
words=sentence.split()
for word in words:
    print(word)

My
Name
is
Aryan

In [3]:
msg = "My name is {0} and I am {1} years old.".format("Aryan", 22)
print(msg)
# Output: My name is Aryan and I am 22 years old.

My name is Aryan and I am 22 years old.

In [8]:
text="For only {price:.2f} dollars!".format(price=485.256)
print(text)

For only 485.26 dollars!

In [12]:
print("{:<10}".format("left"))
print("{:>10}".format("right"))
print("{:^10}".format("center"))

left
     right
  center

In [13]:
a="Hello "
b="World"
print(a+b)

Hello World

In [14]:
print("Hi!"*3)

Hi!Hi!Hi!

In [16]:
text="python" 
print(text[0])
print(text[::-1])
print(text[0:4])

p
nohtyp
pyth

In [17]:
x = 10
x = "Ten"
print(type(x))

<class 'str'>

In [18]:
s = "Python"
s[0] = "J"
print(s)

TypeError: 'str' object does not support item assignment

In [19]:
text = "  hello world  "
print(text.replace("world","Aryan"))

  hello Aryan

In [ ]:
l1=["A","B","C"]
l2=["D","E","F"]
l3=[(l1,l2)]

{(3, 8), (2, 7), (5, 8), (4, 9), (3, 7), (6, 8), (1, 8), (5, 7), (4, 7), (2, 9), (1, 7), (6, 7), (3, 9), (4, 8), (5, 9), (6, 9), (1, 9), (2, 8)}
18

In [22]:
print("Hello"+" "+"World")

Hello World

In [27]:
print("python"*4)

pythonpythonpythonpython

In [34]:
def dot_product_matrix(A, B):
    # Check condition: columns of A == rows of B
    if len(A[0]) != len(B):
        raise ValueError("Matrix multiplication not possible: columns of A must equal rows of B")
    
    # Initialize result matrix with zeros
    result = [[0 for _ in range(len(B[0]))] for _ in range(len(A))]
    
    # Perform multiplication
    for i in range(len(A)):          # iterate rows of A
        for j in range(len(B[0])):   # iterate columns of B

_IncompleteInputError: incomplete input (148583098.py, line 12)

In [33]:
dot_product_matrix([1,2,3],[3,4,5])

NameError: name 'dot_product_matrix' is not defined

In [37]:
def dot_product_matrix(A, B):
    # Check condition: columns of A == rows of B
    if len(A[0]) != len(B):
        raise ValueError("Matrix multiplication not possible: columns of A must equal rows of B")
    
    # Initialize result matrix with zeros
    result = [[0 for _ in range(len(B[0]))] for _ in range(len(A))]
    
    # Perform multiplication
    for i in range(len(A)):          # iterate rows of A
        for j in range(len(B[0])):   # iterate columns of B
            for k in range(len(B)):  # iterate over common dimension
                result[i][j] += A[i][k] * B[k][j]
    
    return result


# Example usage
A = [[1, 2, 3],
     [4, 5, 6]]

B = [[7, 8],
     [9, 10],
     [11, 12]]

print(dot_product_matrix(A, B))
# Output: [[58, 64], [139, 154]]

[[58, 64], [139, 154]]

In [38]:
def transpose(matrix):
    # Number of rows = len(matrix)
    # Number of columns = len(matrix[0])
    rows = len(matrix)
    cols = len(matrix[0])
    
    # Create new matrix with swapped dimensions
    result = [[0 for _ in range(rows)] for _ in range(cols)]
    
    # Fill result with transposed values
    for i in range(rows):
        for j in range(cols):
            result[j][i] = matrix[i][j]
    
    return result


# Example usage
A = [[1, 2, 3],
     [4, 5, 6]]

print("Original Matrix:", A)
print("Transpose:", transpose(A))

Original Matrix: [[1, 2, 3], [4, 5, 6]]
Transpose: [[1, 4], [2, 5], [3, 6]]

In [42]:

matrix = [[1, 2, 3],
     [4, 5, 6]]
rows = len(matrix[0])
print(rows)

3

In [43]:
def dummy2(a):
    rows=len(a)
    cols=len(a[0])
    
    result=[]
    
    for j in range(cols):
        new_row=[]
        for i in range(rows):
            new_row.append(a[i][j])
        result.append(new_row)
    return print("\nThe transposed matrix is: ", result)

In [44]:
l1=[[1,2], [3,4], [5,6]]
dummy2(l1)

The transposed matrix is:  [[1, 3, 5], [2, 4, 6]]

* MY Own Class and Function in the class

In [8]:
class toyota:

    

    def set_input_value(self,a,b,c):
        self.a = a 
        self.b = b 
        self.c = c
        
    
    
    def dummy_mileage_kmpl(self, engine_l: float, weight_kg: float, tyre_in: float) -> float:
        self.engine_l = engine_l
        self.weight_kg = weight_kg
        self.tyre_in = tyre_in
        mileage = 28 - 4 * engine_l - 0.006 * (weight_kg - 1000) - 0.7 * (tyre_in - 15)
        return max(5.0, mileage)  # clamp to minimum 5 km/L
    
    def city_highway_kmpl(self, engine_l: float, weight_kg: float, tyre_in: float) -> tuple[float, float, float]:
        """
        Returns (base, city, highway) mileage in km/L using dummy multipliers.
        """
        base = self.dummy_mileage_kmpl(engine_l, weight_kg, tyre_in)
        city = 0.85 * base
        highway = 1.10 * base
        return base, city, highway

In [9]:

E, W, T = 1.5, 1200, 16
fronx = toyota()

In [10]:
fronx.set_input_value(E, W, T)

In [11]:
fronx.dummy_mileage_kmpl(E, W, T)

20.1

In [12]:
fronx.city_highway_kmpl(E,W,T)

(20.1, 17.085, 22.110000000000003)

In [4]:
z=10+13j
print(z.real)
print(z.imag)

10.0
13.0

In [5]:

z1 = 1 + 2j
z2 = 3 + 4j

print("z1 =", z1)
print("z2 =", z2)
print("z1 + z2 =", z1 + z2)
print("z1 * z2 =", z1 * z2)

z1 = (1+2j)
z2 = (3+4j)
z1 + z2 = (4+6j)
z1 * z2 = (-5+10j)

In [ ]:
print("True + 5 =", True + 5)
print("False * 10 =", False * 10)
print("type(True) =", type(True))
print("int(True) =", int(True))
print("int(False) =", int(False))

True + 5 = 6
False * 10 = 0
type(True) = <class 'bool'>
int(True) = 1
int(False) = 0

In [11]:
a=int("10") 
b=float("10") 
c=complex(2, 5) 
d=bool(0) 
e=bool(100) 

print(a,"\n",b,"\n",c,"\n" ,d,"\n",e)

10
 10.0
 (2+5j)
 False
 True

In [12]:
s = "10"# string 10

i = int(s)#Convert string into integer
f = float(s)#Convert String into Float
comp = complex(2, 5)#Complex number are 2+5j

print("s =", s, "| type:", type(s))#string
print("int(s) =", i, "| type:", type(i))#int
print("float(s) =", f, "| type:", type(f))#float
print("complex(2, 5) =", comp, "| type:", type(comp))#complex Number 2+5j

print("bool(0) =", bool(0))#fals
print("bool(100) =", bool(100))#True

s = 10 | type: <class 'str'>
int(s) = 10 | type: <class 'int'>
float(s) = 10.0 | type: <class 'float'>
complex(2, 5) = (2+5j) | type: <class 'complex'>
bool(0) = False
bool(100) = True

In [14]:
print("abs(-25) =", abs(-25))#25
print("pow(2, 5) =", pow(2, 5))#32
print("round(3.14159, 2) =", round(3.14159, 2))#3.14
print("max(10, 20, 5) =", max(10, 20, 5))#20
print("min(10, 20, 5) =", min(10, 20, 5))#5

abs(-25) = 25
pow(2, 5) = 32
round(3.14159, 2) = 3.14
max(10, 20, 5) = 20
min(10, 20, 5) = 5

In [16]:
a = 10
b = 3

print("a =", a, "b =", b)#10,3
print("a + b =", a + b)#13
print("a - b =", a - b)#7
print("a * b =", a * b)#30
print("a / b =", a / b)#3.333
print("a // b =", a // b)#3
print("a % b =", a % b)#1
print("a ** b =", a ** b)#1000

a = 10 b = 3
a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

In [17]:

 name = input("Enter your name: ")
 print("Hello", name)

Hello Aryan

In [18]:
 age = int(input("Enter age: "))
 salary = float(input("Enter salary: "))
 print("Age:", age, "| type:", type(age))
 print("Salary:", salary, "| type:", type(salary))

Age: 19 | type: <class 'int'>
Salary: 100000.0 | type: <class 'float'>

In [20]:

 x, y = input("Enter two numbers: ").split()
 print("x =", x, "| type:", type(x))
 print("y =", y, "| type:", type(y))

x = 10 | type: <class 'str'>
y = 20 | type: <class 'str'>

In [21]:
a,b=input("Enter Your name and surname").split()
print("Your name is ",a)
print("Your Surname is ",b)

Your name is  Aryan
Your Surname is  Bhadouriya

In [ ]:
print(1, 2, 3)                      
print(1, 2, 3, sep="-")            
print("Hello", end=" ")
print("World")

1 2 3
1-2-3
Hello \a World

In [24]:
name = "Vibhu"#string
age = 38#integer
score = 95.6789#Float

print(f"Name: {name}, Age: {age}, Score: {score}")#Vibhu,38,95.6789
print(f"Score (2 decimals): {score:.2f}")#95.68

Name: Vibhu, Age: 38, Score: 95.6789
Score (2 decimals): 95.68

In [25]:
print("Name: {}, Age: {}".format(name, age))
print("Score: {:.2f}".format(score))

Name: Vibhu, Age: 38
Score: 95.68

In [26]:
print("Name: %s Age: %d" % (name, age))
print("Score: %.2f" % score)

Name: Vibhu Age: 38
Score: 95.68

In [ ]:
a="Aryan"
b="Bhadouriya"
print("\a",a)
print(b)
print("\\n",a,"\\n",b)
print("\n",a,"\n",b)
print("\\t",a,"\\t",b)
print("\t",a,"\t",b)
print("\t",a,"\t",b)
print("\\\\",a,"\\\\",b)
print("\\",a,"\\",b)
print("\\'",a,"\\'",b)
print("\'",a,"\'",b)
print("\\r",a,"\\r",b)
print("\r",a,"\r",b)
print("\\b",a,"\\b",b)
print("\b",a,"\b",b)

 Aryan
Bhadouriya
\n Aryan \n Bhadouriya

 Aryan
 Bhadouriya
\t Aryan \t Bhadouriya
	 Aryan 	 Bhadouriya
	 Aryan 	 Bhadouriya
\\ Aryan \\ Bhadouriya
\ Aryan \ Bhadouriya
\' Aryan \' Bhadouriya
' Aryan ' Bhadouriya
\r Aryan \r Bhadouriya
 Bhadouriya
\b Aryan \b Bhadouriya
 Aryan Bhadouriya

In [52]:
path1 = "C:\\newfolder\\test"
path2 = r"C:\newfolder\test"

print("Normal string:", path1)
print("Raw string:", path2)

Normal string: C:\newfolder\test
Raw string: C:\newfolder\test

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
cgpa = float(input("Enter your CGPA: "))

print("\n----- Student Report -----")
print(f"Name:\t{name}")
print(f"Age:\t{age}")
print(f"CGPA:\t{cgpa:.2f}")
print("--------------------------")

----- Student Report -----
Name:	Aryan
Age:	19
CGPA:	8.50
--------------------------

In [55]:
student_name = "Vibhu"
total_marks = 95

def calculate_average(a, b):
    return (a + b) / 2

# Constants (UPPER_CASE)
PI = 3.14159
MAX_RETRIES = 3

# Class (PascalCase)
class StudentProfile:
    pass

# Internal use
_internal_cache = {}

# Name mangling (for class members)
class BankAccount:
    def __init__(self):
        self.__balance = 0  # name-mangled

print(student_name, total_marks, calculate_average(10, 20), PI, MAX_RETRIES)

Vibhu 95 15.0 3.14159 3

In [56]:
a, b = 10, 3
print("a + b =", a + b)#13
print("a - b =", a - b)#7
print("a * b =", a * b)#30
print("a / b =", a / b)#3.3.333  # float division
print("a // b =", a // b)#3   # floor division
print("a % b =", a % b)#1 # remainder
print("a ** b =", a ** b)#1000   # power

a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a // b = 3
a % b = 1
a ** b = 1000

In [ ]:
x, y = 5, 10
print("x == y:", x == y)# false
print("x != y:", x != y)#True
print("x < y:", x < y)#True
print("x <= y:", x <= y)#True
print("x > y:", x > y)#false
print("x >= y:", x >= y)#false

x == y: False
x != y: True
x < y: True
x <= y: True
x > y: False
x >= y: False

In [60]:
n = 10
n += 5
print("After n += 5:", n)#15

n *= 2
print("After n *= 2:", n)#30

n //= 3
print("After n //= 3:", n)#10

After n += 5: 15
After n *= 2: 30
After n //= 3: 10

In [61]:
age = 20
has_id = True

print("Eligible?", age >= 18 and has_id)
print("Either condition true?", age >= 18 or has_id)
print("Negation:", not has_id)

Eligible? True
Either condition true? True
Negation: False

In [62]:
a, b = 6, 3   

print("a & b =", a & b)   # 
print("a | b =", a | b)   # 
print("a ^ b =", a ^ b)   # 
print("~a =", ~a)         # 
print("a << 1 =", a << 1) # 
print("a >> 1 =", a >> 1) #

a & b = 2
a | b = 7
a ^ b = 5
~a = -7
a << 1 = 12
a >> 1 = 3

In [63]:
nums = [10, 20, 30]
print(20 in nums)
print(99 not in nums)

text = "python programming"
print("python" in text)

True
True
True

In [64]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print("a == b:", a == b)     # values equal
print("a is b:", a is b)     # different objects
print("a is c:", a is c)

a == b: True
a is b: False
a is c: True

In [65]:
print(2 + 3 * 4)      #14
print((2 + 3) * 4)    #20


print(-3 ** 2)        #9
print((-3) ** 2)      #-9


print(2 ** 3 ** 2)    #

14
20
-9
9
512

In [ ]:
s1 = 'Python'
s2 = "Data Science"
s3 = """Line1 
Line2 
"""

print(s1)
print(s2)
print(s3)

Python
Data Science
Line1
Line2 My Name is Aryan

In [ ]:
print("Py" + "thon")      
print("ha" * 3)           
print("a" in "cat")       
print("abc" < "abd")

Python
hahaha
True

ValueError: invalid literal for int() with base 10: 'abc'

In [8]:
s = "Python"
print(s[0])   # 'P'
print(s[-1])  # 'n'

print(s[len(s)-1])
# print(s[len(s)])

P
n
n

In [18]:
a="Aryan Bhadouriya"
print(a[1:4])
print(a[:3])
print(a[3:])
print(len(a))
print(a[15:1:-1])

rya
Ary
an Bhadouriya
16
ayiruodahB nay

In [21]:
print("One two three".split("-"))
print("One two three".split())

['One two three']
['One', 'two', 'three']

In [24]:
l=[10,20,30,40]
mixed=["Aryan",590021024,True,3.5]
empty=[]
print(l)
print(mixed)
print(empty)

[10, 20, 30, 40]
['Aryan', 590021024, True, 3.5]
[]

In [37]:
l=[3,1,2,]
l2=[15,20,25]
l.append("Aryan")
print(l)
l.remove("Aryan")
print(l)
l.sort()
print(l)
l.extend(l2)
print(l)
l.insert(3,58)
print(l)
l.count(l)
print(l)
l.index(1)
print(l)

[3, 1, 2, 'Aryan']
[3, 1, 2]
[1, 2, 3]
[1, 2, 3, 15, 20, 25]
[1, 2, 3, 58, 15, 20, 25]
[1, 2, 3, 58, 15, 20, 25]
[1, 2, 3, 58, 15, 20, 25]

In [ ]:
print([1,2] + [3,4])      # [1,2,3,4]
print([0]*4)              # [0,0,0,0]
print(2 in [1,2,3])       #True

[1, 2, 3, 4]
[0, 0, 0, 0]
True

In [39]:
squares = [x*x for x in range(1,6)]
evens = [x for x in range(10) if x%2==0]
pairs = [(x,y) for x in [1,2] for y in [3,4,6]]
print(squares)
print(evens)
print(pairs)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]
[(1, 3), (1, 4), (1, 6), (2, 3), (2, 4), (2, 6)]

In [40]:
mat=[[1,2,3],[4,5,6]]
print(mat[1][2])

6

In [ ]:
t1=(1,2,3)
t2=1,2,3
t3=(5,)

print(t1)
print(t2)
print(t3)

(1, 2, 3)
(1, 2, 3)
(5,)

In [ ]:
t = (10,20,30,40)
print(t[1])      
print(t[1:3])

20
(20, 30)

In [46]:
A = {1,2,3}
B = {3,4,5}
print(A)
print(B)
print(A | B)   
print(A & B)   
print(A - B)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [47]:
d = {"name":"Vibhu", "age":38}
d2 = dict(a=1, b=2)
print(d)
print(d2)

{'name': 'Vibhu', 'age': 38}
{'a': 1, 'b': 2}

In [48]:

print(d)
d["age"] = 39
print(d)
print(d.get("city", "NA"))

{'name': 'Vibhu', 'age': 38}
{'name': 'Vibhu', 'age': 39}
NA

In [49]:
student = {
  "name":"A",
  "marks":{"math":90, "python":95}
}
student["marks"]["python"]

95

In [50]:
print([1,2] + [3,4])      
print([0]*4)              
print(2 in [1,2,3])

[1, 2, 3, 4]
[0, 0, 0, 0]
True

In [53]:
squares=[x*x for x in range(1,6)]
evens =[x for x in range (10) if x%2==0]
pairs=[(x,y) for x in [1,2] for y in [3,4,6]]
print(squares)
print(evens)
print(pairs)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8]
[(1, 3), (1, 4), (1, 6), (2, 3), (2, 4), (2, 6)]

In [54]:
mat =[[1,2,3],[4,5,6]]
print(mat[1][2])

6

In [55]:
t1 = (1,2,3)
t2 = 1,2,3          
t3 = (5,)           

print(t1)
print(t2)
print(t3)

(1, 2, 3)
(1, 2, 3)
(5,)

In [56]:
t = (10,20,30,40)
print(t[1])      
print(t[1:3])

20
(20, 30)

In [57]:

print((1,2,2,3).count(2))  
print((1,2,2,3).index(2))

2
1

In [ ]:
T = ((1,2),(3,4))
print(T[1][0])

3

In [59]:
print(d)
d["age"] = 39
print(d)
print(d.get("city", "NA"))

{'name': 'Vibhu', 'age': 39}
{'name': 'Vibhu', 'age': 39}
NA

In [60]:
student = {
  "name":"A",
  "marks":{"math":90, "python":95}
}
student["marks"]["python"]

95

In [61]:
a="LKDJFHASDFJHSAD"
sorted(a)

['A', 'A', 'D', 'D', 'D', 'F', 'F', 'H', 'H', 'J', 'J', 'K', 'L', 'S', 'S']

In [62]:
d = {"b":2, "a":5, "c":1}
print(sorted(d))                       # ['a','b','c']
print(sorted(d.items()))               # [('a',5),('b',2),('c',1)]
print(sorted(d.items(), key=lambda x: x[1]))  # by value

['a', 'b', 'c']
[('a', 5), ('b', 2), ('c', 1)]
[('c', 1), ('b', 2), ('a', 5)]

In [63]:
def add(a, b):
    return a + b

In [64]:
def f(a, b=10):
    return a+b

def g(*args):        # tuple of positional args
    return sum(args)

def h(**kwargs):     # dict of keyword args
    return kwargs

In [65]:
def area_circle(r):
    """Return area of circle for radius r."""
    return 3.14159 * r * r

In [67]:
x = 10
def foo():
    x = 5
    return x
x=10
print(foo())
print(x)

5
10

In [68]:
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)
print(fact(4))

24

In [70]:
l =[1,2,3,4]
print(square(2))
def square(x):
    return x*x

NameError: name 'square' is not defined

In [71]:
def square(x):
    return x*x
new_list =[]
for each in l:
    new_list.append(square(each))

In [72]:
[x*x for x in l]
list(map(lambda x : x*x, l))

[1, 4, 9, 16]

In [73]:
# A simple function to square a number
def square(number):
    return number * number

numbers = [1, 2, 3, 4, 5]

# Map the custom square function to the list
squared_numbers = map(square, numbers)

print(list(squared_numbers))
# Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [74]:
list(map(square, l))

[1, 4, 9, 16]

In [75]:
nums = [1,2,3]
list(map(lambda x: 100/x, nums))

[100.0, 50.0, 33.333333333333336]

In [76]:
nums = [1,2,3,4,5]
list(filter(lambda x: x%2==0, nums))

[2, 4]

In [77]:
def outer(msg):
    def inner():
        return msg.upper()
    return inner

f = outer("hello")
print(f)
print(f())

<function outer.<locals>.inner at 0x000002378809FD70>
HELLO

In [78]:
outer("hellp")()

'HELLP'

In [79]:
def apply_twice(f, x):
    return f(f(x))

apply_twice(lambda a: a+1, 5)

7

In [80]:
def change_num(x):
    x = x + 1

def change_list(L):
    L.append(99)

a = 10
change_num(a)
print(a)     # 10 (unchanged)

L = [1,2]
change_list(L)
print(L)     # [1,2,99] (changed)

10
[1, 2, 99]

In [23]:
l=[3,1,2,5,5]
l.append(6)
print(l)
l.remove(6)
print(l)
print(l.index(2))
l.sort()
print(l)
l.extend([15,20,4,55])
print(l)
print(l.pop(2))
print(l.count(5))
l.reverse()
print(l)
l.clear()
print(l)

[3, 1, 2, 5, 5, 6]
[3, 1, 2, 5, 5]
2
[1, 2, 3, 5, 5]
[1, 2, 3, 5, 5, 15, 20, 4, 55]
3
2
[55, 4, 20, 15, 5, 5, 2, 1]
[]

In [26]:
print(([1,2]+[3,4]))
print([0]*4)

[1, 2, 3, 4]
[0, 0, 0, 0]

In [31]:
mat=[[1,2,3],[4,5,6]]
print(mat[1][2])

6

In [34]:
t1=(1,2,3)
t2=1,2,3
t3=(5,)
print(t1)
print(t2)
print(t3)

(1, 2, 3)
(1, 2, 3)
(5,)

In [36]:
t=(10,20,30,40)
print(t[1])
print(t[1:3])

20
(20, 30)

In [1]:
print((1,2,2,3,).count(2))
print((1,2,2,3).index(2))

2
1

In [45]:

T = ((1,2),(3,4),(5,6),(7,8))
print(T[3][1])

8

In [46]:
s={1,2,3}
s2=set([1,2,2,3])
empity_set=set()
print(s)
print(s2)
print(empity_set)

{1, 2, 3}
{1, 2, 3}
set()

In [47]:
a={1,2,3}
b={3,4,5}
print(a)
print(b)
print(a | b)
print(a & b)
print(a - b)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
d={"name":"Aryan","age":19}
d2=dict(a=1,b=2)
print(d)
print(d2)

{'name': 'Aryan', 'age': 19}
{'a': 1, 'b': 2}

In [67]:
d.get("name")
d.get("age")
d["name"]= "Aryan"
print(d)
d.update({"name":"Bhavya"})
print(d)
d.popitem()
d.values()

{'name': 'Aryan'}
{'name': 'Bhavya'}

dict_values([])

In [3]:
student={
    "name ":"A",
    "marks":{"math":90,"python":95,"webtechnology":100}
}
student["marks"]["python"]
print(len(student))
print(len(student["marks"]))

2
3

In [69]:
a="lkjhgfdsamnbvcxz"
sorted(a)

['a',
 'b',
 'c',
 'd',
 'f',
 'g',
 'h',
 'j',
 'k',
 'l',
 'm',
 'n',
 's',
 'v',
 'x',
 'z']

In [4]:
d = {"b":2, "a":5, "c":1}
print(sorted(d))                       # ['a','b','c']
print(sorted(d.items()))               # [('a',5),('b',2),('c',1)]
print(sorted(d.items(), key=lambda x: x[1]))  # by value

['a', 'b', 'c']
[('a', 5), ('b', 2), ('c', 1)]
[('c', 1), ('b', 2), ('a', 5)]

In [6]:
def area_circle(r):
    """Return area of circle for radius r."""
    return 3.14159 * r * r

1
2

In [10]:
l=[1,2,2,3]
for i,x in enumerate(l):
    if x==2:
        print(i)

1
2