# Methods of String Class

*  Return a copy of the string with all the cased characters converted to lowercas"

In [ ]:
text="Hello World"
print(text.lower())  # hello world

hello world

* Return a copy of the string with all the cased characters converted to uppercase.

In [ ]:
text="Hello World"
print(text.upper())  # HELLO WORLD

HELLO WORLD

* Return a title cased version of the string where words start with an uppercase character and the remaining characters are lowercase.

In [ ]:
text="hello world"
print(text.title())  # Hello World

Hello World

* The capitalize() Return a copy of the string with its first character capitalized and the rest lowercased.

In [ ]:
text="hello world"
print(text.capitalize())  # Hello world

Hello world

* The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [ ]:
text="Hello World"
print(text.swapcase())  # hELLO wORLD

hELLO wORLD

*  Casefolding is similar to lowercasing but more aggressive because it is intended to remove all case distinctions in a string. For example, the German lowercase letter 'ß' is equivalent to "ss". Since it is already lowercase, lower() would do nothing to 'ß'; casefold() converts it to "ss"

In [ ]:
text="Stra$e"
print(text.casefold())  # stra$e

stra$e

* Return a copy of the string with the leading and trailing characters removed.

In [ ]:
text="Hello World"
print(text.strip())  # Hello World

Hello World

*  Write a Python program to create a dictionary of 5 students with their marks. Print only the names of students who scored more than 80.

In [ ]:
students={
    "Aryan":85,
    "Bhavya":80,
    "Dixit":79,
    "Arnav":70
}
for name,marks in students.items():
    print(f"{name.lower()}: {marks}")
    # aryan: 85
    # bhavya: 80
    # dixit: 79
    # arnav: 70

aryan: 85
bhavya: 80
dixit: 79
arnav: 70

*  Write code to add a new key "grade": "A" and then print the updated dictionary.

In [ ]:
text="Hello World"
print(text.strip())

Hello World

*  Write a program to count the frequency of each word in the string:

In [ ]:
students ={"Aryan":85,"Bhavya":80,"Dixit":79,"Arnav":70}
students["grades"]="A"
print(students)

{'Aryan': 85, 'Bhavya': 80, 'Dixit': 79, 'Arnav': 70, 'grades': 'A'}

*  Write a program to merge two dictionaries:

In [ ]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}

merged={**dict1,**dict2}
print(merged)  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

*  Write a program to count the frequency of each word in the string:

In [ ]:
text="Hello world hello python world"
words=text.split()
freq={}
for word in words:
    freq[word]=freq.get(word,0)+1
    print(freq)

{'Hello': 1}
{'Hello': 1, 'world': 1}
{'Hello': 1, 'world': 1, 'hello': 1}
{'Hello': 1, 'world': 1, 'hello': 1, 'python': 1}
{'Hello': 1, 'world': 2, 'hello': 1, 'python': 1}

* Write a program to check if a given key exists in a dictionary.

In [ ]:
students={"Aryan":85,"Bhavya":80,"Dixit":79,"Arnav":70}
key="Aryan"

if key in students:
    print("key exists")
else:
    print("key does not exist")

key exists

*  Write a program that takes a string input from the user and checks if it contains only alphabets using isalpha().
- If true, print "Valid alphabets".
- Otherwise, print "Contains non-alphabet characters".

In [ ]:
text="Aryan"
if text.isalpha():
    print("Valid alphabets")
else:
    print("Constains non-alphabet characters")

Valid alphabets

* Ask the user for a string and check if it is a valid identifier using isidentifier().
- Print "Valid identifier" or "Invalid identifier".

In [ ]:
text="Hello World"
if text.isidentifier():
    print("Valid identifier")
else:
    print("Invalid identifier")

Invalid identifier

*  Write a program that reads a list of strings and prints only those strings that are in title case (istitle()).

In [ ]:
strings=["Hello Worlsd","python programming","Aryan","Hello",]
print("string is title case are:")
for s in strings:
    if s.istitle():
        print(s)

string is title case are:
Hello Worlsd
Aryan
Hello

* Write a program that reads a paragraph and counts:
- How many words are all uppercase (isupper()).
- How many words are all lowercase (islower()).
- How many words are in title case (istitle()).

In [ ]:
paragraph="Python 3 is the latest, actively supported major version of the general-purpose, high-level, interpreted programming language known for its emphasis on code readability and support for various programming paradigms. It was released to modernize the language and fix inconsistencies in the legacy Python 2.x versions, which are no longer supported. "
words=paragraph.split()

uppercase_count=0
lowercase_count=0
titlecase_count=0

for word in words:
    if word.isupper():
        uppercase_count+=1
    elif word.islower():
        lowercase_count+=1
    elif word.istitle():
        titlecase_count+=1
print("All Uppercase words:")
uppercase_count
print("All Lowercase words:")
lowercase_count
print("All Titlecase words:")
titlecase_count

All Uppercase words:
All Lowercase words:
All Titlecase words:

3

* write a program for Armstrong number

In [10]:
num=153
sum_of_powers=0
temp=num
digits=len(str(num))

while temp>0:
    digit=temp%10
    sum_of_powers+=digit**digits
    temp//=10
if num==sum_of_powers:
    print("Entered Number is An Armstrong Number")
else:
    print("Entered Number is Not An Armstrong Number")

Entered Number is An Armstrong Number

* write a program for Palindrome number

In [11]:
num=121
temp=num
rev=0

while temp>0:
    digit=temp%10
    rev=rev*10+digit
    temp//=10
if num==rev:
    print("Entered Number is a Palindrome")
else:
    print("Entered Number is Not a Palindrome")

Entered Number is a Palindrome

* Write a Python program that prints a given integer and then repeatedly removes its last digit until no digits remain.

In [12]:
a=4576
r=a

while r>0:
    print(r)
    r=a//10
    a=r

4576
457
45
4

6.Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras theorem.

In [4]:
a=float(input("Enter Base value:"))
b=float(input("Enter Perpendicular value:"))
c=(a**2+b**2)**0.5
print("Hypotenus of the Triangle is ",c)

Hypotenus of the Triangle is  18.027756377319946

7.Write a program to find simple interests.

In [5]:
p=float(input("Enter Principalvalue"))
r=float(input("Enter Rate of Interest"))
t=float(input("Enter Time in year"))
si=(p*r*t)/100
print("Simple Interests of the Ammount is",si)

Simple Interests of the Ammount is 2000.0

8.Write a program to find area of triangle when length of sides are given.

In [6]:
s1=float(input("Enter The Side1 of The Triangle"))
s2=float(input("Enter The side2 of The Triangle"))
s3=float(input("Enter The side3 of The Triangle"))
s=(s1+s2+s3)/2
area=(s*(s-s1)*(s-s2)*(s-s3))**0.5
print("Area of Triangle is",area)

Area of Triangle is 59.81168364124187

* Write a program to convert given seconds into hours, minutes and remaining seconds.

In [1]:
second=float(input("Enter a Toatl Number of Seconds"))
hours= second//3600
min =(second % 3600)//60
remaining_seconds= second%60
print("hours",hours)
print("Minutes ",min)
print("Remaning Seconds",remaining_seconds)

hours 1.0
Minutes  34.0
Remaning Seconds 42.0

* Write a program to swap two numbers without taking additional variable.

In [2]:
a=int(input("Enter a First Number"))
b=int(input("Enter a Second Number"))
print("Numbers Before Swap are :")
print(a)
print(b)
a,b=b,a
print("Numbers After Swap are :")
print(a)
print(b)

Numbers Before Swap are :
5
7
Numbers After Swap are :
7
5

* Write a program to find sum of first n natural numbers.

In [3]:
n=int(input("Enter The First n Natural Number"))
sum=n*(n+1)//2
print("Sum of First ",n,"Natural Numbers Are:",sum)

Sum of First  4 Natural Numbers Are: 10

* Write a program to print truth table for bitwise operators (&, |, and ^ operators)

In [1]:
print(" A B  A&B  A|B  A^B ")
for A in [0,1]:
    for B in [0,1]:
        print(A,B, " " , A&B ," " ,A|B, " ", A ^ B)

 A B  A&B  A|B  A^B
0 0   0   0   0
0 1   0   1   1
1 0   0   1   1
1 1   1   1   0

* Write a program to find left shift and right shift values of a given number.

In [2]:
num=int(input("Enter A Number :"))
shift=int(input("Enter Shift VAlue :"))

print("Left Shift",num << shift)
print("Right Shift",num >> shift)

Left Shift 192682891234690869027498887217152
Right Shift 0

* Using membership operator find whether a given number is in sequence (10,20,56,78,89)

In [4]:
seq=[10,220,50,40,60]
num=int(input("Enter A Number To Be Searched :"))
if num in seq:
    print("Number is in the Sequence")
else :
    print("Number is not Found")

Number is not Found

* Print numbers from 1 to 10

In [4]:
for i in range(1,11):
    print(i,"\n")

1

2

3

4

5

6

7

8

9

10

* Sum of first 5 natural numbers

In [6]:
total=0
for i in  range(1,6):
    total+= i 
print("Sum of First 5 Natural Numbers are:",total)

Sum of First 5 Natural Numbers are: 15

 * Print each character of a string

In [8]:
text="Aryan"
for char in text:
    print(char)

A
r
y
a
n

*  Write a program to check if a number is positive, negative, or zero.

In [3]:
number=int(input("Enter a NUmber"))
if number>0:
    print("Positive Number")
elif number<0:
    print("Negative NUmber")
else:
    print("Zero")

Zero

*  Create a program that asks the user for their age and prints whether they are a child, teenager, or adult.

In [6]:
age=int(input("Enter A Age"))
if age < 13:
    print("Child")
elif age<20:
    print("Teenager")
else :
    print("Adult")

Adult

*  Check if a given number is even or odd.

In [8]:
num=int(input("Enter A Number :"))
if num %2==0:
    print("Even")
else:
    print("Odd")

Odd

*  Write a program to simulate a basic calculator that can handle

In [5]:
def calculator(a,b,operator):
    if operator == '+':
        return a+b
    elif operator == '-':
        return a-b
    elif operator == '*':
        return a*b
    elif operator == '**':
        return a ** b
    elif operator == '/':
        if b == 0:
            print("Error Division by Zero")
        else :
            return a/b
    else :
        print("Invalid Operator")
num1=int(input("Enter First Number"))
num2=int(input("Enter Second Number"))
op=input("Enter operator (+,-,*,**,/)")
result=calculator(num1,num2,op)
print("Result is :",result)

Result is : 4

* Check whether a given number is divisible by 3 and 5 both.

In [ ]:
num=int(input("Enter a number:"))
if num%3==0 and num%5==0:
    print("Entered Number is Divisible by 3 and 5")
else :
    print("Enter Number is not divisible by 3 and 5")

Enter NUmber is not divisible by 3 and 5

* Check whether a given number is multiple of five or not.

In [10]:
num=int(input("Enter a Number:"))
if num%5==0:
    print("Enter Number is Multiple of 5")
else:
    print("Enter Number is not the multiple of 5")

Enter Number is not the multiple of 5

* Find the greatest among two numbers. If numbers are equal than print “numbers are equal”.

In [11]:
num1=int(input("Enter First  Number"))
num2=int(input("Enter Second Number:"))
if num1 >num2:
    print("Enter Number is Grater",num1)
else:
    print("Enter Number is Grater ",num2)

Enter Number is Grater 15

* Find the greatest among three numbers assuming no two values are same.

In [2]:
num1=int(input("Enter First Number"))
num2=int(input("Enter Second Number"))
num3=int(input("Enter Third Number"))
if num1>num2  and num1>num3:
    print(num1,"is Grater Than ",num2,num3)
elif num2>num1 and num2>num3:
     print(num2,"is Grater Than ",num1,num3)
else :
     print(num3,"is Grater Than ",num1,num2)

15 is Grater Than  10 12

* Check whether the quadratic equation has real roots or imaginary roots. Display the roots.

In [5]:
import cmath

a=float(input("Enter Cofficant of a "))
b=float(input("Enter Cofficant of b "))
c=float(input("Enter Cofficant of c "))

d= b**2 -4*a*c
root1=(-b +cmath.sqrt(d))/(2*a)
root2=(-b +cmath.sqrt(d))/(2*a)

print("Root1",root1)
print("Root2",root2)

Root1 (-0.1+0.5385164807134504j)
Root2 (-0.1+0.5385164807134504j)

* Find whether a given year is a leap year or not.

In [7]:
num=int(input("Enter a Numer"))
if num%4==0:
    print("Enter Number is a leep year")
else:
    print("Enter Number is not a leep Year")

Enter Number is not a leep Year